
/*utilize regra de 3 simples para resolver as equações e fazer um layout liquido*/

#Container{
    width: 85%; /*720px -> 85%*/
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    max-width: 920px;

}

#marca{
    height: 300px;
    background: #9e9e9e url(../img/cabecalho.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;

}

#conteudo{
    width: 75%; /* 520 X 100 = 52000/700 = 74,28%*/
    float: right;
}

#navegacao{
    width: 23%; /*180 X 100 = 18000/700 = 25,71*/
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
    
}



#conteudo-principal{
    width: 64%;   /*320+180 = 500, 320x100 = 32000/500 = 64%*/
    float: left;
}

img.noticia{
    width: 96%;
    padding: 2%;
}

/*#imagem{
    width: 50%;
    overflow: hidden;
}*/

#conteudo-secundario{
    width: 33%; /*180X100 = 18000/500 = 36%*/
    float:right;
    background: #d1d1d1;
}

#conteudo-secundario h2, #conteudo-secundario p{
    padding-left: 20px;
    padding-right: 20px;

}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a{
    width: 100%;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px; 
}


a:hover{
    background-color: #c4c4c4;
}








    
