body{
    background: #d4d496 url(img/fundo.png);
    font: 16px arial, Helvetica, sans-serif;
}

#principal{
    width: 900px;
    border: solid red;
}

#menu{
    background: #d1d191;
    padding: 18px; /* aplica um espaçamento interno*/
}

#Conteudo{
    background: #e8e8d9;
    padding: 10px;

}

.centralizar{
    background: #d1d191;
    padding: 18px; /* aplica um espaçamento interno*/
    text-align: center;
}

.img-campanha{
    border: 10px solid #c3c3ae
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

h1{
    color: #828272;
    font-size: 1.2em;
}